Requirement already satisfied: sphinx_material in c:\python39\lib\site-packages (0.0.32)
Requirement already satisfied: lxml in c:\python39\lib\site-packages (from sphinx_material) (4.6.3)
Requirement already satisfied: beautifulsoup4 in c:\python39\lib\site-packages (from sphinx_material) (4.9.3)
Requirement already satisfied: sphinx>=2.0 in c:\python39\lib\site-packages (from sphinx_material) (3.5.4)
Requirement already satisfied: css-html-js-minify in c:\python39\lib\site-packages (from sphinx_material) (2.5.5)
Requirement already satisfied: python-slugify[unidecode] in c:\python39\lib\site-packages (from sphinx_material) (4.0.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (0.7.12)
Requirement already satisfied: requests>=2.5.0 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (2.25.1)
Requirement already satisfied: sphinxcontrib-qthelp in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.0.3)
Requirement already satisfied: sphinxcontrib-devhelp in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.0.2)
Requirement already satisfied: imagesize in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.2.0)
Requirement already satisfied: colorama>=0.3.5 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (0.4.4)
Requirement already satisfied: sphinxcontrib-jsmath in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.0.1)
Requirement already satisfied: packaging in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (20.9)
Requirement already satisfied: babel>=1.3 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (2.9.0)
Requirement already satisfied: Jinja2>=2.3 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (2.11.3)
Requirement already satisfied: Pygments>=2.0 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (2.8.1)
Requirement already satisfied: sphinxcontrib-serializinghtml in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.1.4)
Requirement already satisfied: setuptools in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (49.2.1)
Requirement already satisfied: sphinxcontrib-applehelp in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.0.2)
Requirement already satisfied: snowballstemmer>=1.1 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (2.1.0)
Requirement already satisfied: sphinxcontrib-htmlhelp in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (1.0.3)
Requirement already satisfied: docutils<0.17,>=0.12 in c:\python39\lib\site-packages (from sphinx>=2.0->sphinx_material) (0.16)
Requirement already satisfied: pytz>=2015.7 in c:\python39\lib\site-packages (from babel>=1.3->sphinx>=2.0->sphinx_material) (2021.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\python39\lib\site-packages (from Jinja2>=2.3->sphinx>=2.0->sphinx_material) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in c:\python39\lib\site-packages (from requests>=2.5.0->sphinx>=2.0->sphinx_material) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\python39\lib\site-packages (from requests>=2.5.0->sphinx>=2.0->sphinx_material) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\python39\lib\site-packages (from requests>=2.5.0->sphinx>=2.0->sphinx_material) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\python39\lib\site-packages (from requests>=2.5.0->sphinx>=2.0->sphinx_material) (1.26.4)
Requirement already satisfied: soupsieve>1.2 in c:\python39\lib\site-packages (from beautifulsoup4->sphinx_material) (2.2.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\python39\lib\site-packages (from packaging->sphinx>=2.0->sphinx_material) (2.4.7)
Requirement already satisfied: text-unidecode>=1.3 in c:\python39\lib\site-packages (from python-slugify[unidecode]->sphinx_material) (1.3)
Requirement already satisfied: Unidecode>=1.1.1 in c:\python39\lib\site-packages (from python-slugify[unidecode]->sphinx_material) (1.2.0)
